* {
  font-family: Quicksand, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

button {
  cursor: pointer;
}
