.ht-container {
  margin: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .ht {
    padding: 20px;
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .ht-header {
      background: rgb(206, 206, 206);
      width: 100%;
      display: flex;
      gap: 20px;
      padding: 10px;
      span {
        width: 120px;
      }
    }
    .ht-item {
      width: 100%;
      display: flex;
      gap: 20px;
      padding: 10px;
      position: relative;
      span {
        width: 120px;
      }
    }
    .ht-kids {
      padding-left: 50px;
    }
    .arrow-show-hidden {
      position: absolute;
      left: -10px;
      width: 20px;
    }
  }
}
